<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <nav class="navigation">
        <div class="navigation__title">
            <div class="navigation__filter">
                <label class="navigation__label">FILTER BY</label>
                <select class="navigation__select">
                    <option>Jackets</option>
                    <option>Jackets3</option>
                    <option>Jackets32</option>
                </select>
            </div>
            <div class="navigation__sort">
                <label class="navigation__label">SORT BY</label>
                <select class="navigation__select">
                    <option>by price</option>
                    <option>by date</option>
                </select>
            </div>
        </div>
    </nav>
    <section class="products">
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">$132</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Greed Jacket</div>
                <div class="product__price">$161</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10197100950_1_1294x1800_300_RGB_1024x1024.jpeg?v=1445623372" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Restricted Pole Cat</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/EDYTJ00016_BTK0_FRT1_1800-2400_1024x1024.jpeg?v=1445623375" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">LA</div>
                <div class="product__price">$139</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/13068100389_1_1487x2100_300_RGB_1024x1024.jpeg?v=1445623380" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Campus</div>
                <div class="product__price">$132</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/13140100904_1_1522x2100_300_RGB_1024x1024.jpeg?v=1445623383" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Flint</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/13142100261_1_1501x2100_300_RGB_1024x1024.jpeg?v=1445623386" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Frontier</div>
                <div class="product__price">$167</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/3151-Juana-D-4263-753_1_1024x1024.jpeg?v=1445626994" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Juana</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/3166-GALA-D-4949-011_front_1024x1024.jpeg?v=1445627003" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Gala</div>
                <div class="product__price"><span class="product__old-price">$1,999</span> $1,399</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/3171-NICKY-D-4290-026_front_1024x1024.jpeg?v=1445627005" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Nicky</div>
                <div class="product__price"><span class="product__old-price">$1,199</span> $899</div>
            </div>
        </div>
    </section>
</body>
</html>