<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navigation">
        <div class="navigation__title">
            <div class="navigation__filter">
                <label class="navigation__label">FILTER BY</label>
                <select class="navigation__select">
                    <option>Jackets</option>
                    <option>Jackets3</option>
                    <option>Jackets32</option>
                </select>
                <label class="navigation__label">SORT BY</label>
                <select class="navigation__select">
                    <option>by price</option>
                    <option>by date</option>
                </select>
            </div>
            <div class="navigation__sort"></div>
        </div>
    </nav>
    <section class="products">
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">150%</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">150%</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">150%</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">150%</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
        <div class="product">
            <div class="product__image">
                <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt="Jacket">
            </div>
            <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">150%</div>
                <div class="product__avail">SOLD OUT</div>
            </div>
        </div>
    </section>
</body>
</html>