.container{
    display: flex;
    flex-direction: column;
}
.products{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.navigation{
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex: 1;
}
.products-list{
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex: 1;
}
.news{
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex: 1;
}
span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faebd7;
    padding: 8px;
    border-radius: 4px;
    margin: auto;
    text-transform: lowercase;
}

@media screen and (min-width: 600px){
    .products{
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px){
    .container{
        flex-direction: row;
    }
}